default_icores = 8
default_mpitasks = 1
default_pcores = 8
default_ptime = '18h'
default_itime = '6h'
default_importmem = '16G' // a good lower bound in Mb is: (((N ^ 2) / 2 * 48) / (1024 ^ 2) + 4096)
default_mem_sc = '8G' // a good lower bound in Mb is: (N ^ 2 * 8) / (1024 ^ 2)
default_mem_mc = '16G' // ARACNE and CLR will need much more. Look above for a lower bound
default_batchsize = 20 // a good value is N/200
default_ensemble_size = 1000
default_preamble = '' //ex. export OMP_NUM_THREAD=4 
default_epilog = ' ' 
process.executor = 'slurm' // change to 'slurm' for SLURM
 
params {
  
  expr = 'headless.tsv'
  genes = 'genes.tsv'
  out = 'results'
  targets = '' // empty if not specific targets
  slurm_account = ''
  slurm_time = '48:00:00'
  executor = process.executor
  error_strategy = 'ignore'
  // Added parameter to get numbe of genes for setting Bin size
  ngenes = { ->
    try {
      def file = new File("${params.expr}")
      if (file.exists()) {
        return file.text.split(/\s+/).size()
      } else {
        return 0
      }
    } catch (Exception e) {
      return 0
    }
  }()

  anova = false
  anova_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    meta_file = 'meta.tsv'
    importname = 'ANOVA'
    weight = 1.0
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  mi = true
  mi_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    bins = 0 // auto setting
    spline = 3
    importname = 'MI'
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  aracne = true
  aracne_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    bins = 0 // auto setting
    spline = 3
    importname = 'ARACNE'
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  clr = true
  clr_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    bins = 0 // auto setting
    spline = 3
    importname = 'CLR'
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  pearson = true
  pearson_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '' 
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'Pearson'
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  spearman = true
  spearman_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '' 
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'Spearman'
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  elnet = false
  elnet_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '' 
    importname = 'ElNet'
    min_lambda = 0.3
    alpha = 0.3
    nlambda = 10
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  svm = false
  svm_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '' 
    importname = 'SVM'
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  llr = true
  llr_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '' 
    importname = 'LLR'
 //   max_experiment_size = 0 //auto
 //   min_experiment_size = 0 //auto
 //  max_predictor_size = 0 //auto
 //   min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
    ptime = '48h'
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  pcor = true
  pcor_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'pcor'
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  narromi = true
  narromi_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'Narromi'
    batchsize = default_batchsize
    alpha = 0.05
    method = "simplex"
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  tigress = true
  tigress_settings {
    tasks = 3
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'Tigress'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '' 
    nlambda = 10
    min_lambda = 0.3
    nbootstrap = default_ensemble_size
    ptime = '48h'
    itime = '48h'
    preamble = default_preamble
    epilog = default_epilog
  }

  genie3 = true
  genie3_settings {
    tasks = 2
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    importname = 'GENIE3'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '' 
    min_prop = 0.1
    alpha = 0.5
    min_node_size = 5
 //    mtry = 0
    ntree = default_ensemble_size
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  plsnet = true
  plsnet_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'PLSNET'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '' 
    components = 5
 //   predictors = 0 //auto
    ensemble = default_ensemble_size
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  tomsimilarity = false
  tomsimilarity_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'tomsimilarity'
    batchsize = default_batchsize
    // -S to not transform to z-scores
    scale = '' 
    method = 'pearson'
    // -a if data should be reported as absolute values
    absolute = ''
    sft = 0 //autodetection
    max_power = 30
    sftcutoff = 0.8
    tomtype = 'signed'
    ptime = default_ptime
    itime = default_itime
    preamble = default_preamble
    epilog = default_epilog
  }

  aggregate = true
  aggregate_settings {
   tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc 
    time = default_itime
    method = 'irp'
    keep = '--keep' // --keep to keep directonality info
    preamble = default_preamble
    epilog = default_epilog
 }

}
