// Config profile for HPC2N
params {
  config_profile_description = 'Cluster profile for HPC2N'
  project = <account>
  max_memory = 64.GB
  max_cpus = 28
  max_time = 24.h
}

profiles {
  hpc2n {
    process {
      executor = 'slurm'
      clusterOptions = "-A ${params.project}"
    }
    singularity {
      enabled = true
      runOptions = "-B /proj:/proj -B /home:/home --nv"
    }
  }
  gpu {
    process {
      withLabel: gpu {
        time = { params.max_time }
        clusterOptions = "-A ${params.project} --gres=gpu:l40s:1"
      }
    }
  }
}

process {
  containerOptions = '--nv'
  withName: 'PARABRICKS_RNAFQ2BAM' {
    clusterOptions = "-A ${params.project} --gres=gpu:l40s:1"
    label = 'gpu'
    }
}
