// upsc general profile
profiles {
    upscb{
        process {
            executor       = 'slurm'
            clusterOptions = "-A <account>"
        }
        singularity {
            enabled = true
            runOptions = "-B /mnt:/mnt"
            cacheDir = '/mnt/reference/nf-core_apptainer_containers/'
        }
        memory         = { 20.GB * task.attempt }
        cpus           = { 2 * task.attempt }
        time           = { 48.h * task.attempt }
    }
}

process {
    withName: 'SORTMERNA' {
        container = '/mnt/picea/projects/singularity/sortmerna_4.3.6.sif'
    }
}

workDir = 'data/work'
