// upsc general profile
profiles {
    upscb{
        process {
            executor       = 'slurm'
            clusterOptions = "-A <account>"
        }
        singularity {
            enabled = true
            cacheDir = '/mnt/reference/nf-core_apptainer_containers/'
        }
        memory         = { 20.GB * task.attempt }
        cpus           = { 2 * task.attempt }
        time           = { 48.h * task.attempt }
    }
}

workDir = 'data/work'
